<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div id="navbarBasic" class="navbar-menu">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="/static/Logo.png">
                </a>
            </div>

            <div class="navbar-end">
                <a class="navbar-item" href="/">
                    Home
                </a>

                <a class="navbar-item" href="/current">
                    Current Trend
                </a>

                <a class="navbar-item" href="/forecast">
                    Predict
                </a>

                <a class="navbar-item">
                    Historical
                </a>
            </div>
        </div>
    </nav>

    <form action="/forecast" method="get">
        <label for="months"></label>
        <input type="number" name="months" id="months" required min=1>
        <button>Go</button>
    </form>

    {% if img %}
    {{ img|safe }}
    {% endif %}
</body>

</html>