<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twitch Trend</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div id="navbarBasic" class="navbar-menu">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="/static/Logo.png">
                </a>
            </div>

            <div class="navbar-end">
                <a class="navbar-item" href="/">
                    Home
                </a>

                <a class="navbar-item" href="/current">
                    Current Trend
                </a>

                <a class="navbar-item" href="/forecast">
                    Predict
                </a>

                <a class="navbar-item" href="historical">
                    Historical
                </a>
            </div>
        </div>
    </nav>

    <form action="/historical" method="get">
        <div class="select">
            <select name="streamers" id="streamers">
                {% if not stats %}
                <option value="" disabled selected>Choose a streamer</option>

                {% else %}
                <option value="{{option}}" disabled selected>{{option}}</option>
                {% endif %}

                {% for streamer in streamer_names %}
                <option value="{{streamer}}">{{streamer}}</option>
                {% endfor %}
            </select>
        </div>

        <button class="button is-dark">Display historical data</button>
    </form>

    <p>***Missing data from 11/25, 11/29, 12/1 :(</p>
    <br>

    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Day</th>
                <th>Rank</th>
                <th>Airtime (m)</th>
                <th>Live views</th>
                <th>Average viewers</th>
                <th>Peak viewers</th>
                <th>Hours watched</th>
                <th>Followers gain</th>
            </tr>
        </thead>

        <tbody>
            {% for stat in stats %}
            <tr>
                {% for key in stat %}
                <td>{{stat[key]}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>