<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plot.css')}}">
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div id="navbarBasic" class="navbar-menu">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="/static/Logo.png">
                </a>
            </div>

            <div class="navbar-end">
                <a class="navbar-item" href="/">
                    Home
                </a>

                <a class="navbar-item" href="/current">
                    Current Trend
                </a>

                <a class="navbar-item" href="/forecast">
                    Predict
                </a>

                <a class="navbar-item">
                    Historical
                </a>
            </div>
        </div>
    </nav>

    {% if img %}
    {{ img|safe }}
    {% endif %}

    <form action="/forecast" method="get">
        <input class="input" type="number" name="months" id="months" placeholder="Number of months" required min=1>
        <select name="streamers" id="streamers">
            <!--Add an option on start-up for when countries are not selected -->
            <!-- {% if country!='default' %}
            <option value="default" selected disabled>Select</option>
            {% else %}
            <option value="{{country}}">{{country}}</option>
            {% endif %} -->
            <!--populate the drop-down menu with country name using for loop with jinja-->
            {% for streamer in streamer_names %}
              <option value="{{streamer}}">{{streamer}}</option>
            {% endfor %}
      
          </select>
        <button class="button is-dark">Predict</button>
    </form>

</body>

</html>